extends layout

block content
  .header
    h1= title
    form(action="/books" method="post" class="searchform")
        p
          input(type="text" name="title" id="title" placeholder="Search Title, Author, Genre, Year" class="search")
        p
          input(type="submit", value="Search" class="submit")
  p 
    a(class="button", href="/books/new") Create New Book 

  table
    thead 
      tr
        th Title
        th Author
        th Genre 
        th Year

    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)= book.title
          td= book.author
          td= book.genre
          td= book.year

  - var n = 1;
  ul.buttons  
    while n <= buttons
      li.links
        a(href=`/books/page${n}`) 
          = n++


